mat-card{
  mat-form-field, textarea{
    width: 100%; resize: none;
  }
  input[type=file] {
    visibility: hidden;
  }
  .image-picker{
    height: 5rem;
    margin: 1rem 0;
    img{height: 100%;}
  }
}
